:root {
      --app_bg_color: rgba(255, 255, 255, 0.7);
      --app_fg_color: rgba(39, 24, 30, 0.95);
      --app_fg_header_color: rgba(39, 24, 30, 0.4);
      --app_fg_fullname_color: rgba(39, 24, 30, 0.2);
      --app_fg_link: #680e2b;
      --app_pfp_border: 1px solid #ff95b1;
      --app_bg_backdrop: #ffdbdc;
      --discord: #c5c5f2;
      --youtube: #ffbbcf;
      --bluesky: #c5d9ff;
      --github: #fffcfd;
}

* { font-family: Noto Sans, Arial, Sans Serif; font-weight: bold; cursor: default; } /* im lazy */
a, a img { cursor: pointer!important; }

body {
      background-color: var(--app_bg_backdrop);
      background-image: url("../obj/viewport-bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
}
html, body {
      margin: 0;
      height: 100%;
      overflow: hidden
}

.app-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
}
.app {
      background-color: var(--app_bg_color);
      color: var(--app_fg_color);
      height: 83vh;
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      backdrop-filter: blur(20px);
      border-radius: 6px;
      border: 1px solid var(--app_fg_fullname_color);
      overflow: auto;
      padding-bottom: 30px;
}
@media (max-width: 1700px) { .app { width: 35%; } }
@media (max-width: 1600px) { .app { width: 45%; } }
@media (max-width: 1500px) { .app { width: 53%; } }
@media (max-width: 1400px) { .app { width: 60%; } }
@media (max-width: 1200px) { .app { width: 65%; } }
@media (max-width: 1000px) { .app { width: 70%; } }
@media (max-width: 800px) { .app { width: 75%; } }
@media (max-width: 600px) { .app { width: 80%; } }
@media (max-width: 500px) { .app { width: 90%; } }
@media (max-width: 400px) { .app { width: 95%; } }

/* .app content */
.app h1 { color: var(--app_fg_header_color); }
.pfp {
      border-radius: 9999px;
      border: var(--app_pfp_border);
}
.name { margin-top: -1px; color: var(--app_fg_color)!important; }
.fullname { margin-top: -25px; color: var(--app_fg_fullname_color); }
.pronouns-main { color: var(--app_fg_header_color); }
.dot { color: var(--app_fg_color); } /* the dot between the full name and the small pronouns */

/* interests, identities */
.app-sub {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      text-align: center;
      justify-content: center;
}
.interests div, .identities div {
      height: 100%;
      align-items: center;
      text-align: center;
      margin: 0 15px;
}

.interests h2, .identities h2 { color: var(--app_fg_header_color); text-align: center; margin-left: -10px; }
.interests li, .identities li { color: var(--app_fg_color); text-align: left; }
.interests ul, .identities ul { margin-top: -20px; }
.interests ul ul, .identities ul ul { margin-left: -20px; }

.pronoun-header { margin-top: -9px; }
.alt { color: var(--app_fg_header_color)!important; }
.subtext { font-size: 8pt; }

/* socials */
.socials-container {
      display: flex;
      justify-content: center;
      flex-direction: row;
      height: 100%;
      width: 100%;
}
.socials-header { color: var(--app_fg_header_color) !important; }
.socials-container a {
      display: block;
      padding: 8px;
      border-radius: 999px;
      height: 50px;
      width: 50px;
      transition: 0.1s ease all;
}
.socials-container a:hover { transition: none; }
.socials-container a:hover:active { opacity: 0.7; }
a.discord:hover { background-color: var(--discord); }
a.bsky:hover { background-color: var(--bluesky); }
a.youtube:hover { background-color: var(--youtube); }
a.github:hover { background-color: var(--github); }

li.no-marker { color: transparent; }


/* footer */
.credit-text { color: var(--app_fg_color); width: 100%; }
.credit-text a, a.credit-text { color: var(--app_fg_link); width: 100%; }

footer {
      position: fixed;
      bottom: 0;
      text-align: right;
      background: none;
}

